h1 {
  text-align: center;
}

.MainBox {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  border: .2rem solid black;
  padding: 0px;
  margin: 0px 20vw 0px 20vw;
  ul {
    width: 20vw;
    margin: 0px;
    padding: 0px;
    background-color: #0d0852;
    li {
      margin: 0px;
      padding: .5em;
      list-style-type: none;
      color: white;
      &:hover {
        background-color: #382fb6;
      }
      &.Selected {
        background-color: #2fb658;
      }
    }    
  }
  .Quote {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  img {
    height: 50vmin;
  }
}
